form {
    font-family: sans-serif;
    justify-content: center;
    display: grid;
}

.weather {
    display: grid;
    justify-content: center;
}

.weather-container {
    outline: 0.05rem red solid;
    width: 15rem;
    height: auto;
    padding-top: 1rem;
}

label {
    margin-bottom: 1rem;
}

button {
    margin-top: 1rem;
}

p {
    font-family: sans-serif;
}